<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Về chúng tôi - Phúc Long Clone</title>
    <link rel="stylesheet" href="../public/about.css">
</head>
<style>
    main {
        background-color: #fff8e1;
        padding: 50px;
    }

    h1 {
        color: white;
    }
</style>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/about">Về chúng tôi</a></li>
                <li><a href="/promotions">Khuyến mãi</a></li>
                <li><a href="/menu">Menu</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Về Phúc Long</h1>
        <p>Phúc Long là thương hiệu trà và cà phê nổi tiếng, mang đến hương vị đặc trưng và đậm đà.</p>
    </main>
</body>

</html>